<div class="container">
    <h1><%= @regular.name %></h1>
    <p>Favorite drink: <%= @regular.favorite_drink %></p>
    <%= regular.photo.attached? ? cl_image_path(regular.photo.key) : https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU %>
    <%= link_to "Back to drunks", regulars_path %>
    <%= link_to "Add a note", new_regular_spy_path(@regular) %>
    <% @regular.pubs.each do |pub|%>
    <%= pub.name %>
    <% end %>
</div>
